.container{
    max-width: 1000px;
    padding-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin: 0 auto;
}
.filters{
    background-color: white;
    height:70px;
    width:100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto; /* this line shift the button to the right */
    margin-right: 30px;
}
